{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Registration for Courses</title>
  <link rel="stylesheet" href="styles-registration.css">
  <script src="https://kit.fontawesome.com/904a7d5ff1.js" crossorigin="anonymous"></script>
</head>

<body>
  <p class="college-name">NIT Warangal</p>
  <h1>Course Registration</h1>
  <main>

    <table>
      <tr>
        <td>Computer Science</td>
        <td><button type="button" class="download-button" name="download-files"><i class="fas fa-download"></i> Download Files</button></td>
      </tr>
      <tr>
    </table>

  </main>

</body>

</html>